{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- about -->
    <div id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="about_border">
                        <div class="row">
                            <div class="col-md-7">
                                <div class="titlepage text_align_left">
                                    <h2>회원제 운영방법</h2>
                                </div>
                                <div class="about_text">
                                    <p>○ 철저한 회원제로 운영<br>
                                    ○ 월마다 회원가입으로 수익실현에 따라 유료가입 결정<br>
                                       &nbsp;&nbsp;  (타사와 같이 6개월, 1년 유료회원제 아닙니다.)<br>
                                    ○ 매월 수익으로 월 유료회원 가입 가능<br>
                                    ○ 최초 가입 1개월 무료회원 서비스 제공<br>
                                    ○ 무료회원(1개월): 주 1종목 제공, 매수시점 제공<br>
                                    ○ 유료회원(매월) : 주 2~3종목 제공, 매수/매도시점 및 비중 제공</p>
                                    <p></p>
                                    <p>유료회원 가입비는 아래 회원가입시 개별 연락이 됩니다.</p>
                                    <!--<a class="read_more" href="about.html">Read More</a>-->
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="about_img">
                                    <figure><img class="img_responsive" src="{% static 'images/about2.jpg' %}" alt="#" /></figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <button type="button" onclick="location.href='{% url 'sbihome:contact' %}'" class="read_more">회원가입</button>
                </div>
            </div>
        </div>
    </div>
    <!-- end about -->
{% endblock %}


