{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- contact -->
    <div id="contact" class="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage text_align_center">
                        <h2>회원가입</h2>
                    </div>
                </div>
                <div class="row text-center" style="width: 100%">
                    <div class="col-md-12">
                            <h2>{{ error }}</h2>
                    </div>
                </div>
                <div class=" col-md-10 offset-md-1">
                    <form id="request" class="main_form" action="" method="POST">
                        {% csrf_token %}
                       <div class="row">
                            <div class="col-md-12 ">
                                <input class="contactus" placeholder="성명" type="text" name="member_name">
                            </div>
                            <div class="col-md-12">
                                <input class="contactus" placeholder="Email" type="text" name="member_email">
                            </div>
                            <div class="col-md-12">

                                <input class="contactus" required  maxlength="11"  placeholder="전화번호  ('-' 는 제외)" type="tel" name="member_cellphone">

                                <!--
                                <input class="contactus" required  pattern="[0-9]{2,3}-[0-9]{3,4}-[0-9]{4}"  maxlength="13"  placeholder="전화번호  예) 010-1234-5678" type="tel" name="member_cellphone">
                                <input id ='phone1' placeholder="010"  type="text" size="1" maxlength="3" name="member_cellphone1> -
                                <input id ='phone2' placeholder="1234"  type="text" size="3" maxlength="4" name="member_cellphone2> -
                                <input id ='phone3' placeholder="1234"  type="text" size="3" maxlength="4" name="member_cellphone3">
                                -->
                            </div>
                            <div class="col-md-12">
                                <textarea class="textarea" placeholder="메세지" type="type" Message="Name"></textarea>
                            </div>
                            <div class="col-md-12">
                                <button type="submit" class="send_btn">Send</button>
                            </div>
                       </div>
                    </form>
                     <h2>{{ "" }}</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- end contact -->
{% endblock %}
